{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} {{ super ()}} Login {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1> Login </h1>
</div>
<form action="/Login", method="post">

    {{ wtf.quick_form(form) }}
    
</form>
<br>
<a class="btn btn-secondary" href="{{url_for('users.Register')}}" role="button">Register</a> <a class="btn btn-secondary" href="{{url_for('users.reset_request')}}" role="button">Forgot password?</a>

{% endblock %}

